#healthcarephoto {
    background: url("../../assets/images/africadoctor.jpg") no-repeat center fixed;
    background-size: contain;
    height: 25em;
}

#childrenphoto {
    background: url("../../assets/images/africachildren.jpg") no-repeat center fixed;
    background-size: contain;
    height: 25em;
}

#classroomphoto {
    background: url("../../assets/images/africaclassroom.jpg") no-repeat center fixed;
    background-size: contain;
    height: 25em;
}